h2 {
  font-family: "Roboto Condensed", Sans-Serif;
  font-size: 28px;
  color: var(--green);
  margin: 20px;
  font-style: bold;
  font-weight: 700;
  text-align: center;
}

.results-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
  padding: 0 5%;
}

@media screen and (min-width: 875px) {
  .results-container {
    width: 100%;
  }
}
