.hero {
  display: flex;
  justify-content: center;
  padding: 2rem;
  flex-wrap: wrap;
  padding-top: 25vh;
}

.hero-image {
  max-width: 375px;
  width: 100%;
  box-shadow: none;
}

.login-instructions {
  margin-top: 4rem;
  color: var(--dark);
  text-align: center;
  width: 100%;
}

.login-button {
  width: 120px;
  height: 25px;
  background-color: var(--lightgreen);
  padding: 5px 2px;
  border-radius: 1.625rem;
  border: none;
  color: var(--dark);
  box-shadow: var(--shadow);
  margin-top: 1rem;
}

.instructions-wrapper {
  width: 100%;
  max-width: 375px;
  display: flex;
  flex-wrap: wrap;
}

.button-wrapper {
  width: 100%;
  justify-content: center;
  display: flex;
}

@media screen and (min-width: 769px) {
  .login-instructions {
    font-size: 24px;
  }

  .login-button {
    width: 240px;
    height: 50px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1155px) {
  .image-wrapper {
    margin-left: auto;
    margin-right: 5vw;
  }

  .instructions-wrapper {
    margin-right: auto;
    margin-left: 5vw;
    max-width: 600px;
  }
}
