.search-bar {
  display: flex;
  justify-content: center;
  padding: 0 5%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.search-button {
  width: 3.9rem;
  height: 2rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

.search-button:hover {
    cursor: pointer;
}

input {
  flex-basis: 100%;
  width: 100%;
  max-width: 680px;
  height: 2rem;
  font-size: 16px;
  color: var(--dark);
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 1rem;
  box-shadow: var(--shadow);
}

