.playlist {
  width: 90vw;
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;
  margin-bottom: 30px;
  margin-top: 30px;
}

.playlist-name {
  color: var(--dark);
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  margin-bottom: 1rem;
}

.save-playlist-button {
  width: 120px;
  height: 25px;
  background-color: var(--lightgreen);
  padding: 5px 2px;
  border-radius: 1.625rem;
  border: none;
  color: var(--dark);
  box-shadow: var(--shadow);
}


.instructions {
  color: var(--dark);
  text-align: center;
  margin-bottom: 1rem;
  width: 100%;
}

.playlist-title {
  margin: 20px;
  width: 100%;
}

@media screen and (min-width: 875px) {
  .playlist {
    width: 40%;
    margin-top: 0;
  }

  .playlist-name {
    margin-top: 1rem;
  }
}