header {
  background-color: var(--dark);
  display: flex;
  justify-content: center
}

h1 {
  font-family: "Roboto Condensed", Sans-Serif;
  font-size: 35px;
  color: var(--lightgreen);
  margin: 20px;
  font-style: bold;
  font-weight: 700;
  text-shadow: var(--shadow);
}
