footer {
  background-color: #2f3e46;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 2.5rem;
  flex-wrap: wrap;  
  padding-top: .5rem;
  padding-bottom: .5rem;
}

p {
    color: #cad2c5;
    margin-bottom: 4px;
    margin-top: 4px;
}

a {
    color: #cad2c5;
}
