:root {
  --light: #cad2c5;
  --lightgreen: #84a98c;
  --green: #52796f;
  --darkgreen: #354f52;
  --dark: #2f3e46;
  --shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

body {
  background-color: var(--light);
  margin: 0;
}

p {
  font-family: "Cabin", Sans-Serif;
  font-size: 16px;
}

.page-container {
  min-height: 100vh;
  position: relative;
}

.content-wrapper {
  padding-bottom: 4rem;
}

.results-wrapper {
  display: flex;
  flex-wrap: wrap;
}


@media screen and (min-width: 875px) {
  .list-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .results-wrapper {
    width: 50%;
  }
}