:root {
  --light: #cad2c5;
  --lightgreen: #84a98c;
  --green: #52796f;
  --darkgreen: #354f52;
  --dark: #2f3e46;
}

body {
  background-color: var(--light);
  margin: 0;
  /* min-height: 80vh; */
  padding-bottom: 2.5rem;
}

p {
  font-family: "Cabin", Sans-Serif;
  font-size: 16px;
}
